* {
    margin:  0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.not-rounded-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bg-very-light {
    background-color: rgba(0,0,0,.03);
}

.bg-very-dark {
    background-color: #263137;
}

.bg-dark-white {
    background-color: #f5f5f5;
}

.bg-light-grey {
    background-color: #e2e2e2;
}

.cover {
    height: 320px;
}

.cover-wide {
    height: 400px;
}

.right-wave {
    border-bottom-right-radius: 4em !important;
}

.left-wave {
    border-bottom-left-radius: 4em !important;
}

.genre-icon {
    height: 120px;
    width: 120px;
}

.platform-icon {
    padding: 5px;
    height: 120px;
}

.form-error{
	color: #cb0000;
}

.score-display{
	font-size: 32;
	font-style: bold;
}

.list-icon{
	height: 40px;
}

.padding-right-wave {
    padding-right: 4em;
}

.padding-left-wave {
    padding-left: 4em;
}

.share-tech-mono {
    font-family: 'Share Tech Mono', monospace;
}

.slider::-webkit-slider-thumb {
    background: #607D8B;
}

.slider::-moz-range-thumb {
    background: #607D8B;
}
.first span { color: #607D8B }
.first .slider::-webkit-slider-thumb { background: #607D8B }

.slider {
    background-color: #CFD8DC;
    height: 15px;
}

.first .slider {
    background-color: #CFD8DC;
}

.pagination {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 15px;
	text-shadow:0px 1px 0px #3d768a;
}
.pagination:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.pagination:active {
	position:relative;
	top:1px;
}

.current-pagination {
	outline:2px solid black;
	padding:10px 15px;
	background-color:#FFFFFF;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}

.table-pagination {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.checkboxes{
    height: 15em !important;
    overflow-y: scroll;
}

/*   Change Color for Active Tabs     */
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav>li>a:hover {
  color: #FFC107;
  border-color: #FFFFFF;
}

/*   Change Color for Inactive Tabs     */
.nav-tabs>li>a {
  color: #CFD8DC;
  border-color: #FFFFFF;
}

.game-search-results > div {
    margin-left: 0 !important;
}

.min-width-5 {
    min-width: 5em;
}

.min-width-4 {
    min-width: 4em;
}